@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.section1 {
  @extend%section;
  .section1-inner {
    width: 60%;
    @media (max-width: 768px) {
      width: 80%;
    }
    hr {
      height: 0.5vh;
      width: 20%;
      background-color: rgb(58, 58, 201);
      border: none;
    }
  }
}
